.app {
  margin: 10px;
}

.nav {
  padding-bottom: 10px;
  border-bottom: 2px solid darkblue
}

.nav span {
  font-size: 26px;
  padding-right: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

